.about-page-container {
  // min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, black 50%, #01545e 0%);
  display: flex;
  align-items: center;
  justify-content: center;

  .about-page-inner-container {
    width: 1180px;
    //min-height: calc(100vh - 70px);
    //min-height: 800px;
    display: flex;
    transition: font-size 0.5s ease-in-out;

    .about-page-background-image-container {
      height: 100%;
      height: inherit;
      width: 50%;
      background: url("../../assets/images/anonymous_2.jpeg") no-repeat center
        center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-position: 65% 100%;
      transition: font-size 0.5s ease-in-out;
    }

    .about-page-contents-container {
      width: 50%;
      //height: 100%;
      background-color: #01545e;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      transition: font-size 0.5s ease-in-out;
      padding: 35px 0 35px 45px;

      .about-page-contents-header-container {
        width: 100%;
        display: flex;
        align-items: center;
        transition: font-size 0.5s ease-in-out;

        h1 {
          color: #fff;
          font-size: 65px;
          line-height: 1.5;
          font-weight: normal;
          margin-bottom: 25px;
          transition: font-size 0.5s ease-in-out;

          span {
            color: orange;
          }
        }
      }

      .about-page-contents-avatar-container {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        transition: font-size 0.5s ease-in-out;

        .MuiAvatar-root {
          width: 250px;
          height: 250px;
          background-color: #fff;
        }
      }

      .about-page-contents-paragraphs-container {
        max-width: 100%;
        margin-bottom: 25px;
        transition: font-size 0.5s ease-in-out;

        p {
          font-size: 15px;
          line-height: 1.5;
          color: #fff;
          padding-bottom: 20px;
          //
        }

        p:nth-child(3) {
          margin-bottom: o;
        }
      }

      .about-page-button-container {
        width: 100%;
        display: flex;

        button {
          background-color: #d68b00;
          color: #fff;
          font-size: 16px;
          height: 40px;
          min-width: 200px;
          text-transform: capitalize;
        }
        button:hover {
          background-color: orange;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .about-page-container {
    .about-page-inner-container {
      //padding: 0 15px;
      transition: font-size 0.5s ease-in-out;

      .about-page-background-image-container {
        background-position: 55% 100%;
        transition: font-size 0.5s ease-in-out;
      }

      .about-page-contents-container {
        padding-left: 0;
        align-items: center;

        .about-page-contents-header-container {
          justify-content: center;
          transition: font-size 0.5s ease-in-out;
          h1 {
            font-size: 55px;
            transition: font-size 0.5s ease-in-out;
          }
        }

        .about-page-contents-avatar-container {
          justify-content: center;
        }

        .about-page-contents-paragraphs-container {
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;
          padding: 0 25px;
          transition: font-size 0.5s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .about-page-container {
    .about-page-inner-container {
      background-color: #01545e;
      .about-page-background-image-container {
        display: none;
      }

      .about-page-contents-container {
        width: 100%;
        .about-page-contents-header-container {
          h1 {
            font-size: 45px;
          }
        }

        .about-page-contents-paragraphs-container {
          display: flex;
          flex-direction: column;
          // align-items: center;
          max-width: 75%;
          justify-content: center;
          padding: 0 25px;
          transition: font-size 0.5s ease-in-out;
        }

        .about-page-button-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .about-page-container {
    .about-page-inner-container {
      background-color: #01545e;
      .about-page-background-image-container {
        display: none;
      }

      .about-page-contents-container {
        width: 100%;
        .about-page-contents-header-container {
          h1 {
            font-size: 35px;
          }
        }

        .about-page-contents-paragraphs-container {
          display: flex;
          flex-direction: column;
          // align-items: center;
          max-width: 100%;
          justify-content: center;
          padding: 0 15px;
          transition: font-size 0.5s ease-in-out;
        }
      }
    }
  }
}
