.blog-page-container {
  //min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  //background: linear-gradient(-90deg, #01545e 50%, #000 25%, white 25%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  .overlay-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../../assets/images/blog_bg_image.png") no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .overlay-color {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  .blog-page-inner-container {
    z-index: 2;
    width: 1180px;
    //height: 100%;
    display: flex;
    flex-direction: column;
    padding: 45px 0;

    .blog-page-header-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: #fff;
        font-size: 65px;
        line-height: 1.5;
        font-weight: normal;
        margin-bottom: 45px;

        span {
          color: orange;
        }
      }
    }

    .blog-page-articles-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;

      .each-article-container {
        width: 500px;
        min-height: 500px;
        position: relative;
        margin-bottom: 45px;

        .article-cover-image {
          width: 100%;
          height: 300px;
          position: absolute;
          left: 0px;
          top: 0;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
            0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
            0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
            0 32px 64px rgba(0, 0, 0, 0.07);
          border-radius: 24px;
          z-index: 1;
        }

        .article-details-container {
          width: calc(100% - 50px);
          height: 300px;
          position: absolute;
          left: 25px;
          bottom: 0px;
          background-color: #fff;
          box-shadow: 0 1px 2px #00000012, 0 2px 4px #00000012,
            0 4px 8px #00000012, 0 8px 16px #00000012, 0 16px 32px #00000012,
            0 32px 64px #00000012;
          border-radius: 24px;
          padding-bottom: 15px;
          padding-top: 110px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          h3 {
            max-width: 90%;
            text-align: center;
            font-size: 17px;
            font-weight: normal;
            line-height: 1.5;
            color: #434343;
          }

          p {
            max-width: 90%;
            font-size: 14.2px;
            line-height: 1.5;
            color: #393939;
          }

          a {
            text-decoration: none;
            button {
              color: orange;
              border-color: orange;
            }

            button:hover {
              background-color: #fcf7ed;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .blog-page-container {
    padding: 0 25px;
    .blog-page-inner-container {
      width: 100%;

      .blog-page-header-container {
        h1 {
          font-size: 55px;
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .blog-page-container {
    .blog-page-inner-container {
      .blog-page-articles-container {
        .each-article-container {
          width: 450px;

          .article-details-container {
            h3 {
              font-size: 15.5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .blog-page-container {
    padding: 0 15px;
    .blog-page-inner-container {
      width: 100%;
      .blog-page-articles-container {
        .each-article-container {
          width: 100%;
        }
      }

      .blog-page-header-container {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .blog-page-container {
    padding: 0 15px;
    .blog-page-inner-container {
      width: 100%;

      .blog-page-header-container {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
}
