.contact-page-container {
  //min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  // background: linear-gradient(90deg, #01545e 50%, #000 25%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(to top right, #bdc3c7, #2c3e50);

  .overlay-color {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.3);
    background: url("../../assets/images/contact_bg_image.png") no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .contact-page-inner-container {
    z-index: 2;
    width: 1180px;
    //height: 100%;
    padding: 45px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-page-header-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 45px;

      h1 {
        color: #fff;
        font-size: 65px;
        line-height: 1.5;
        font-weight: normal;

        span {
          color: orange;
        }
      }
    }

    .contact-page-contact-information {
      width: 1180px;
      height: 700px;
      display: flex;
      align-items: center;
      // margin-top: 50px;
      position: relative;

      .contact-page-details-container {
        width: 60%;
        height: 700px;
        background: #01545e;
        position: absolute;
        left: 0;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-top-right-radius: 48px;
        border-bottom-left-radius: 48px;

        .contact-links-container {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            text-decoration: none;
            margin: 10px;
            button {
              color: #fff;

              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
        }

        .details-inner-container {
          width: 70%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .detail-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 25px;
            svg {
              width: 44px;
              height: 44px;
              color: #ffa500;
            }

            h3 {
              font-size: 22px;
              line-height: 1.5;
              font-weight: normal;
              color: #fff;
              margin-bottom: 5px;
            }

            p {
              font-size: 14.5px;
              line-height: 1.5;
              color: #e7e7e7;
            }
          }
        }
      }

      .contact-page-form-container {
        width: 60%;
        height: 600px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-top-left-radius: 48px;
        z-index: 1;

        .form-header-container {
          width: 90%;
          //padding: 15px;

          h3 {
            color: orange;
            font-size: 24px;
            line-height: 1.5;
            font-weight: normal;
          }

          p {
            color: #2d2d2d;
            font-size: 14.5px;
            line-height: 1.5;
          }
        }

        form {
          width: 100%;
          height: 400px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          .MuiTextField-root {
            width: 90%;
            margin-bottom: 15px;

            .MuiInputLabel-shrink {
              color: #01545e;
            }

            .Mui-focused {
              fieldset {
                border-color: #01545e;
              }
            }
          }

          .robot-checkbox-container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;

            .Mui-checked {
              color: #01545e;
            }

            p {
              margin-left: 1px;
              display: flex;
              align-items: center;
              font-size: 14.5px;
              line-height: 1.5;
              color: #434343;

              span {
                font-size: 1.5rem;
                margin-left: 5px;
              }
            }
          }

          .form-button-container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
              width: 70%;
              background-color: #01545e;
              text-transform: initial;
              min-height: 45px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .contact-page-container {
    .contact-page-inner-container {
      width: 100%;
      //padding: 15px;

      .contact-page-header-container {
        h1 {
          font-size: 45px;
        }
      }

      .contact-page-contact-information {
        width: 100%;
      }
    }
  }
}

@media (max-width: 760px) {
  .contact-page-container {
    .contact-page-inner-container {
      width: 100%;
      padding: 25px 10px;

      .contact-page-header-container {
        margin-bottom: 25px;

        h1 {
          font-size: 35px;
        }
      }

      .contact-page-contact-information {
        width: 100%;
        min-height: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //position: static;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

        .contact-page-details-container {
          width: 100%;
          min-height: 500px;
          position: static;
          border-radius: 0;
          box-shadow: none;

          .contact-links-container {
            width: 100%;

            a {
              margin: 10px;
              button {
                svg {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }

          .details-inner-container {
            width: 100%;

            .detail-container {
              width: 100%;
              svg {
                width: 24px;
                height: 24px;
                color: #ffa500;
              }

              h3 {
                font-size: 16px;
              }

              p {
                font-size: 14.2px;
              }
            }
          }
        }

        .contact-page-form-container {
          width: 100%;
          min-height: 600px;
          position: static;
          border-radius: 0;
          box-shadow: none;

          .form-header-container {
            width: 100%;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
              font-size: 16.5px;
            }

            p {
              font-size: 14.2px;
            }
          }

          form {
            .MuiTextField-root {
              width: 95%;
            }
          }
        }
      }
    }
  }
}
