.homepage-page-container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://wallpapercave.com/wp/wp2406521.jpg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.5s ease-in-out;

  .homepage-page-contents-container {
    width: 1180px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    padding: 125px 0;
    //padding-top: 70px;

    .homepage-page-introduction-container {
      height: 100%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      transition: all 0.5s ease-in-out;

      h1 {
        font-size: 65px;
        color: white;
        line-height: 1.2;
        text-transform: initial;
        transition: font-size 0.5s ease-in-out;
        margin-bottom: 15px;

        span {
          color: #186b01;
        }
      }

      p {
        color: #f3e8d4;
        margin: 25px 0;
        font-size: 16.5px;
        line-height: 1.5;
        margin-bottom: 25px;
      }

      button {
        min-width: 250px;
        height: 60px;
        font-size: 18px;
        background-color: #186b01;
        color: #fff;
        text-transform: capitalize;
        line-height: 1.5;
        transition: all 0.5s ease-in-out;
      }

      button:hover {
        background-color: #3da520;
      }
    }
  }
}

@media (max-width: 1180px) {
  .homepage-page-container {
    background-position: 82% center;
    .homepage-page-contents-container {
      width: 100%;

      .homepage-page-introduction-container {
        padding-left: 25px;

        //max-width: 600px;

        h1 {
          font-size: 55px;
        }

        button {
          min-width: 200px;
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .homepage-page-container {
    background-position: 82% center;
    .homepage-page-contents-container {
      width: 100%;

      .homepage-page-introduction-container {
        padding-left: 25px;
        max-width: 600px;

        h1 {
          font-size: 50px;
        }

        // button {
        //   min-width: 200px;
        //   height: 50px;
        //   //font-size: 1m;
        // }
      }
    }
  }
}

@media (max-width: 500px) {
  .homepage-page-container {
    background: url("https://wallpapercave.com/dwp2x/wp1828920.jpg") no-repeat
      center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .homepage-page-contents-container {
      width: 100%;
      padding: 80px 0;

      .homepage-page-introduction-container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;

        h1 {
          font-size: 34px;
        }

        // button {
        //   min-width: 200px;
        //   height: 50px;
        //   //font-size: 1m;
        // }
      }
    }
  }
}

@media (max-width: 400px) {
  .homepage-page-container {
    .homepage-page-contents-container {
      .homepage-page-introduction-container {
        h1 {
          font-size: 28px;
        }

        button {
          min-width: 200px;
          height: 50px;
          //font-size: 1m;
        }
      }
    }
  }
}
